<div>
  <%= form_with model: [@room_tag,@room], local:true do |f| %>
    <div>
      <%= f.label :room_name, "部屋の名前" %>
      <%= f.text_field :room_name, placeholder: "部屋の名前を入力してください" %>
    </div>
    <div>
      <%= f.label :world_body, "部屋の設定" %>
      <%= f.text_area :world_body, placeholder: "設定を入力してください"%>
    </div>
    <div>
      <%= f.label :tag_name, "タグの設定"%>
      <%= f.text_field :tag_name, placeholder: "タグをスペース区切りで入力してください" %>
    </div>

    <%= f.submit "部屋を作成" %>
  <% end %>
</div>