<div class="container shadow text-center rounded">
  筆者: <%= link_to @novel.user.name,user_path(@novel.user) %>
  タイトル: <%= @novel.title %>
  <% if @novel.novel_tags.present? %>
    <% @novel.novel_tags.each do |novel_tag| %>
      <!--novel.rbで「through」を使ったことで記述可能に-->
      <%= link_to "##{novel_tag.tag_name}", room_novels_path(tag_id: novel_tag.id) %>
    <% end %>
  <% else %>
    タグはありません。
  <% end %>
  <%= markdown(@novel.body).html_safe %>

  <% if @novel.bookmarked_by?(current_user) %>
    <%= link_to "ブックマークを外す", room_novel_bookmarks_path(@novel.room_id, @novel), method: :delete %>
  <% else %>
    <%= link_to "ブックマーク", room_novel_bookmarks_path(@novel.room_id, @novel), method: :post %>
  <% end %>

  <% if @novel.user == current_user %>
    <%= link_to "編集する", edit_room_novel_path(@novel.id) %>
    <%= link_to "削除する", room_novel_path(@novel.id), method: :delete, date: {confirm: "本当に削除しますか？"} %>
  <% end %>

  <% if @novel.favorited_by?(current_user) %>
    <p>
      いいね:
      <%= link_to room_novel_novel_favorite_path(@novel.room_id,@novel), method: :delete, remote: true do %>
        ♥<%= @novel.novel_favorites.count %>
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to room_novel_novel_favorites_path(@novel.room_id,@novel), method: :post, remote: true do %>
        ♡<%= @novel.novel_favorites.count %>
      <% end %>
    </p>
  <% end %>

  <table class="table">
    <tbody>
     <% @novel.novel_comments.each do |ncomment| %>
        <tr>
          <td>
            <%= link_to ncomment.user.name,user_path(ncomment.user.id) %>
            <%= ncomment.comment %>
            <% if ncomment.user == current_user %>
              <%= link_to "削除", room_novel_novel_comment_path(ncomment.novel.room ,ncomment.novel, ncomment), method: :delete, remote:true %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= form_with model:[@novel, @novel_comment], url: "/rooms/#{@novel.room_id}/novels/#{@novel.id}/novel_comments/#{@novel_comment.id}",method: :post, local:true do |f| %>
      <%= f.text_area :comment,placeholder: "コメントはここに",size: "30x5" %>
      <%= f.submit "送信する" %>
    <% end %>
</div>

