<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/54c168e9b7.js" crossorigin="anonymous"></script>
    <title>NovelRoom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="fixed-top">
      <%= render "layouts/header" %>
    </header>
    <main><%= yield %></main>
  </body>
</html>
